@import "index.css";
@import "rounded.css";

.icon {
  font-size: 3.5em;
}
/* Main brand logo */
@import "backgrounds/economist-small.css";
@import "backgrounds/economist.css";

/* Action */
@import "backgrounds/close.css";
@import "backgrounds/down.css";
@import "backgrounds/up.css";
@import "backgrounds/right.css";
@import "backgrounds/left.css";
@import "backgrounds/print.css";

/* Content */
@import "backgrounds/plus.css";
@import "backgrounds/minus.css";

/* Navigation */
@import "backgrounds/hamburger.css";
@import "backgrounds/home.css";
@import "backgrounds/magnifier.css";
@import "backgrounds/user.css";
@import "backgrounds/share.css";

/* Social media */
@import "backgrounds/facebook.css";
@import "backgrounds/googleplus.css";
@import "backgrounds/linkedin.css";
@import "backgrounds/mail.css";
@import "backgrounds/rss.css";
@import "backgrounds/twitter.css";
@import "backgrounds/whatsapp.css";
@import "backgrounds/instagram.css";
@import "backgrounds/youtube.css";
@import "backgrounds/tumblr.css";
@import "backgrounds/bookmark.css";

/* Sub brand logo */
@import "backgrounds/worldif.css";

/* Economist products */
@import "backgrounds/video.css";
@import "backgrounds/headset.css";
@import "backgrounds/film.css";
@import "backgrounds/apps.css";
@import "backgrounds/radio.css";
