.Icon--rounded {
  display: inline-block;
  border-radius: 50%;
}

/* stylelint-disable selector-no-type */

.Icon--rounded svg {
  /* stylelint-enable selector-no-type */
  transform: scale(0.7);
  transform-origin: center center;
  /* stylelint-disable property-no-vendor-prefix, rule-properties-order */
  -moz-transform-origin: 0 0;
  /* stylelint-enable property-no-vendor-prefix, rule-properties-order */
}
