.Icon--rounded {
  display: inline-block;
  border-radius: 50%;
}

/* stylelint-disable selector-no-type */

.Icon--rounded svg {
  /* stylelint-enable selector-no-type */
  transform: scale(0.7);
  /* stylelint-disable property-no-vendor-prefix */
  -moz-transform-origin: 0 0;
  /* stylelint-enable property-no-vendor-prefix */
  transform-origin: center center;
}
